<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Assignment 1</title>
</head>
<body>
     <div class="main-content">
        {{>header}}
        <div class="assignments assignment1">
            <div class="description">
                <div class="title">
                    <h3>Steps</h3>
                </div>
                <ul>
                    <li>Fetch Github Repo Data Using APIs</li>
                    <li>Use filter { lan: python, forks: >=200 } for fetching limited repo</li>
                    <li>Add Filter on fetching data stargazers count == user input</li>
                    <li>Final Step : JSON to CSV Download</li>
                </ul>
            </div>
            <form id="assignment1Form">
                <div>
                    <input type="number" name="stargazers" placeholder="min stargazers count" id="stargazers" min=0>
                    <button type="submit">Fetch & Download</button>
                </div>
                <div class="errorDiv">

                </div>
            </form>
        </div>
    </div>
    {{>footer}}
    <script type="module" src="/js/a1.js"></script>
</body>
</html>